.animationRow {
  padding: 5rem;
}

.animationCol1 {
  position: absolute;
  top: -21.5rem;
  right: 53%;
  opacity: 40%;
  flex-direction: column;
  align-items: end;
  display: flex;
  align-content: space-between;
  padding: 0%;
  animation: animationCol1;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  animation-direction: normal;
}

.icons {
  margin-top: 1.5rem;
}

.animationCol2 {
  position: absolute;
  top: -21.5rem;
  right: 0%;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 0%;
  animation: animationCol1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  animation-direction: reverse;
}

.animationCol3 {
  opacity: 75%;
  position: absolute;
  top: -21.5rem;
  right: -53%;
  align-items: start;
  flex-direction: column;
  padding: 0%;
  display: flex;
  animation: animationCol1;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes animationCol1 {
  from {
    transform: translateY(0rem);
  }
  to {
    transform: translateY(26.2rem);
  }
}

@media (max-width: 1250px) {
  .animationCol3 {
    right: -56%;
  }
  .animationCol2 {
    right: -3%;
  }
  .animationCol1 {
    right: 50%;
  }
}

@media (max-width: 1040px) {
  .animationCol1 {
    display: flex;
    flex-wrap: nowrap;
    top: 23.5rem;
    left: -40rem;
    flex-direction: row;
    position: relative;
    animation: animationCol;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }

  .animationCol2 {
    display: flex;
    flex-wrap: nowrap;
    top: 14rem;
    left: -40rem;
    flex-direction: row;
    position: relative;
    animation: animationCol;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
  }

  .animationCol3 {
    display: flex;
    flex-wrap: nowrap;
    top: 4.5rem;
    left: -40rem;
    flex-direction: row;
    position: relative;
    animation: animationCol;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .icons {
    margin-top: 1rem;
    margin-right: 0.4rem;
  }

  .animationRow {
    width: 300%;
    padding: 0;
    display: block;
    position: relative;
    top: -14rem;
  }

  @keyframes animationCol {
    from {
      transform: translateX(0rem);
    }
    to {
      transform: translateX(20.8rem);
    }
  }
}

@media (max-width: 760px) {
  .animationRow {
    width: 400%;
    padding: 0;
    position: relative;
  }
}

@media (max-width: 580px) {
  .animationRow {
    top: -14rem;
    width: 600%;
  }
}

@media (max-width: 460px) {
  .icons {
    width: 40px;
    margin-top: 0rem;
    margin-bottom: -0.2rem;
  }
  .animationRow {
    top: -14rem;
    width: 500%;
  }

  .animationCol1 {
    top: 21rem;
  }

  .animationCol3 {
    top: 7rem;
  }

  @keyframes animationCol {
    from {
      transform: translateX(0rem);
    }
    to {
      transform: translateX(14.5rem);
    }
  }
}
