.mainContent {
  display: flex;
  flex-direction: row;
  height: 40rem;
  margin: 1rem 3rem 1rem 3rem;
  align-items: center;
}

.raiseYour {
  font-size: 22px;
}

.leftColContent {
  display: flex;
  flex-direction: column;
  font-size: 70px;
}

.leftContentButton {
  background-color: #478bf9;
  width: 15rem;
  height: 3rem;
  border-radius: 30px;
}

.rightColContent {
  position: absolute;
  right: 3%;
  font: 30px bold;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: end;
  align-items: center;
}

.cardBlog {
  position: relative;
  margin-top: 1rem;
  padding: 0 0 1rem 1rem;
  display: block;
  height: 25rem;
  width: 20rem;
  border: 2px solid rgb(71 139 249);
  border-radius: 60px;
  background-color: rgb(49 44 63);
}

.inTheCardBody {
  border: 2px;
  border-radius: 35px;
  width: 18rem;
  height: 24.8rem;
  overflow-y: auto;
}

.firstBlogButton {
  width: 16rem;
  flex-direction: column;
  color: white;
  height: 5rem;
  margin-top: 1rem;
  padding: 0.3rem 1.9rem 0.3rem 1.9rem;
  display: flex;
  text-align: start;
  line-height: normal;
  font-size: medium;
  border: solid 2px rgb(165, 164, 233);
  border-radius: 40px;
}

.blogButton {
  width: 16rem;
  flex-direction: column;
  color: white;
  height: 5rem;
  margin-top: 1rem;
  padding: 0.3rem 1.9rem 0.3rem 1.9rem;
  display: flex;
  text-align: start;
  line-height: normal;
  font-size: medium;
  background-color: rgb(17 10 29);
  border: solid 2px rgb(165, 164, 233);
  border-radius: 40px;
}

.blogButton:hover {
  background-color: rgb(1, 1, 54);
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
  margin-right: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;

  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

::-webkit-scrollbar-button:end:decrement {
  height: 20%;
  display: block;
  margin-right: 5px;
}
::-webkit-scrollbar-button:start:increment {
  height: 20%;
  display: block;
  margin-right: 5px;
}

@media (max-width: 1040px) {
  .rightColContent {
    position: absolute;
    margin-top: 16rem;
    left: 0%;
  }
  .leftColContent {
    margin-top: 16rem;
    position: absolute;
    right: 0%;
  }
}

@media (max-width: 760px) {
  .rightColContent {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 31rem;
  }
  .leftColContent {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 0rem;
  }
  .mainContent {
    display: flex;
    flex-direction: column;
    height: 40rem;
    margin: 1rem 3rem 1rem 3rem;
    align-items: center;
  }
}

@media (max-width: 720px) {
  .rightColContent {
    margin-top: 26rem;
  }

  .leftColContent {
    font-size: 50px;
  }

  .leftContentButton {
    font-size: 13px;
    width: 10rem;
  }
}

@media (max-width: 620px) {
  .rightColContent {
    margin-top: 26rem;
  }

  .leftColContent {
    font-size: 40px;
  }

  .leftContentButton {
    font-size: 13px;
    width: 10rem;
  }
  .raiseYour {
    font-size: 16px;
  }
  .leftContentButton {
    height: 2.5rem;
  }
  .rightColContent {
    margin-top: 23rem;
  }
}

@media (max-width: 420px) {
  .leftColContent {
    font-size: 35px;
  }
  .gambling {
    margin-top: -1rem;
  }
  .rightColContent {
    margin-top: 19rem;
  }
}
