.NavbarRow {
  display: flex;
  justify-content: center;
  background-color: rgb(17 10 29);
  margin: 1rem 3rem 0 3rem;
  padding: 1rem;
  border: solid rgb(9, 130, 243);
  border-radius: 40px;
}

.NavbarColLinks {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.NavbarColButtons {
  display: flex;
  justify-content: end;
}

.nav-link {
  font-size: small;
  color: white;
}

.nav-link:hover {
  color: rgb(218, 216, 216);
}

.nav-link:focus {
  color: rgb(117, 117, 117);
}

.Button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  background-color: rgb(17 10 29);
  border: solid 2px rgb(165, 164, 233);
  border-radius: 40px;
}

.Button1:hover {
  background-color: rgb(1, 1, 54);
}

.langIconToggle {
  display: none;
  background-color: rgb(17 10 29);
  border: solid 2px rgb(165, 164, 233);
  border-radius: 50%;
}

.ButtonLangIcon:hover {
  background-color: rgb(1, 1, 54);
}

.langicon {
  margin-right: 0.3rem;
}

.togglerOpen {
  cursor: pointer;
  margin: -3px;
  background-color: rgb(17 10 29);
  border: none;
  display: none;
}

.togglerOpen:hover {
  background-color: rgb(1, 1, 54);
}

.togglerClose {
  cursor: pointer;
  margin: -3px;
  background-color: rgb(17 10 29);
  border: none;
  display: none;
}

.togglerClose:hover {
  background-color: rgb(1, 1, 54);
}

.unhideBlock {
  display: none;
}

.Button2 {
  font-size: small;
  margin-left: 0.5rem;
  background-color: rgb(17 10 29);
  border: solid 2px rgb(165, 164, 233);
  border-radius: 40px;
}
.Button2:hover {
  background-color: rgb(1, 1, 54);
}
.Button3 {
  font-size: small;
  margin-left: 0.5rem;
  border: solid 2px rgb(165, 164, 233);
  border-radius: 40px;
}

.Button3:hover {
  background-color: rgb(1, 1, 54);
}

.columnToggler {
  position: absolute;
  right: 0;
  background-color: rgb(17 10 29);
  display: none;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  margin: 0.5rem 3rem 0 3rem;
}

.linkToggler1,
.linkToggler2,
.linkToggler3,
.linkToggler4,
.linkToggler5,
.linkToggler6 {
  font-size: medium;
  display: flex;
  width: 20rem;
  justify-content: start;
  border: solid rgb(9, 130, 243);
  margin: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 40px;
}

.ButtonToggler1 {
  background-color: rgb(17 10 29);
  display: flex;
  width: 20rem;
  justify-content: center;
  border: solid rgb(9, 130, 243);
  margin: 1.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
  border-radius: 40px;
}

.ButtonToggler2 {
  display: flex;
  width: 20rem;
  justify-content: center;
  border: solid rgb(9, 130, 243);
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 40px;
}

/* MEDIA 1270 */
@media (max-width: 1270px) {
  .colForHide {
    display: none;
  }
}

/* MEDIA 900 */
@media (max-width: 900px) {
  .Button1,
  .Button2,
  .Button3,
  .NavbarColLinks {
    display: none;
  }
  .togglerOpen {
    display: block;
  }

  .unhideBlock {
    display: flex;
  }

  .hide {
    display: none;
  }

  .langIconToggle {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding: 0.3rem;
  }
}

/* MEDIA 430 */
@media (max-width: 430px) {
  .Button1,
  .Button2,
  .Button3,
  .NavbarColLinks {
    display: none;
  }
  .togglerOpen {
    display: block;
  }

  .unhideBlock {
    display: flex;
  }

  .hide {
    display: none;
  }

  .langIconToggle {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding: 0.3rem;
  }
  .columnToggler {
    left: 0%;
    right: 0%;
    justify-content: center;
    align-items: center;
  }

  .NavbarRow {
    display: flex;
    align-content: center;
    width: 20rem;
    height: 3.5rem;
    margin: auto;
    margin-top: 0.5rem;
  }
}

/* MEDIA 320 */
@media (max-width: 320px) {
  .langIconToggle {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding: 0.3rem;
  }
  .columnToggler {
    margin: 0.5rem 3rem 0 0;
    left: 0%;
    right: 0%;
    justify-content: center;
    align-items: center;
    width: 20rem;
  }

  .unhideBlock {
    display: block;
  }

  .NavbarRow {
    align-content: center;
    width: 20rem;
    height: 3.5rem;
    margin-top: 0.5rem;
  }

  .linkToggler1,
  .linkToggler2,
  .linkToggler3,
  .linkToggler4,
  .linkToggler5,
  .linkToggler6 {
    font-size: medium;
    display: flex;
    width: 20rem;
    justify-content: start;
    border: solid rgb(9, 130, 243);
    margin: 0.5rem 0 1rem 0;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 40px;
  }
  .ButtonToggler1 {
    background-color: rgb(17 10 29);
    display: flex;
    width: 20rem;
    justify-content: center;
    border: solid rgb(9, 130, 243);
    margin: 2rem 0 0.5rem 0;
    padding: 0.5rem;
    border-radius: 40px;
  }

  .ButtonToggler2 {
    display: flex;
    width: 20rem;
    justify-content: center;
    border: solid rgb(9, 130, 243);
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    border-radius: 40px;
  }
}
