html,
body,
#root,
.bodyclass {
  height: max-content;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

body {
  min-height: 100%;
  flex-direction: column;

  box-sizing: border-box;
  background-color: rgb(17 10 29);
  color: white;
  font-family: "Lexend", sans-serif;
  overflow: hidden;
}

@media (max-width: 760px) {
  body {
    overflow-y: auto;
  }
}
